body {
  background-color: #ffe9ec;
}
#banner{
  background-position: center;
  width: 100%;
  background-image: url(https://d85wutc1n854v.cloudfront.net/live/products/600x375/WB044F7S0.png);
  height: 405px;
  background-color: #ffe9ec;
}
h1 {
  font-size: 50px;
  text-align: center;
  text-shadow: 5px 10px 50px grey;
}
h2 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  text-shadow: 5px 10px 50px grey;
}
h3 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  text-shadow: 5px 10px 50px grey;
}
ul {
  list-style-position: inside;
}
li.contact {
  font-size: 20px;
  text-align: center;
  text-shadow: 5px 10px 20px grey;
}
p {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  text-shadow: 5px 10px 20px grey;
}
.flashy {
  color: red;
  font-style: italic;
  font-size: 30px;
}
#home {
  font-size: 15px;
  display:block;
  text-align:center;
  text-shadow: 5px 10px 50px grey;

}
